APP_NAME=Facebook Engagement Analyzer
DATABASE_PATH=data/facebook.db

LIKE_WEIGHT=1
COMMENT_WEIGHT=2
SHARE_WEIGHT=3

REACTION_WEIGHT=1
REPLY_WEIGHT=2

LOG_LEVEL=INFO

FACEBOOK_ACCESS_TOKEN=
FACEBOOK_GRAPH_API_VERSION=v23.0
FACEBOOK_API_BASE_URL=https://graph.facebook.com